*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  canvas{
    margin: 50px auto;
    margin-left: 10px;
  }
  
  body{
    background: rgb(0, 0, 0);
    font-family: 'B612Mono-Regular';
  }